<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428101912602-sc6blr10qgjp4eno8b72e4dtnp1so6fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428101912602-sc6blr10qgjp4eno8b72e4dtnp1so6fj</string>
	<key>API_KEY</key>
	<string>AIzaSyC2SQdT8Op8KSuUDvDSRpaRZG_Dlj8ivgg</string>
	<key>GCM_SENDER_ID</key>
	<string>428101912602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Antonio-Flores.EmptyLine</string>
	<key>PROJECT_ID</key>
	<string>emptyline-66a31</string>
	<key>STORAGE_BUCKET</key>
	<string>emptyline-66a31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428101912602:ios:3e77998eb9a49a3a</string>
	<key>DATABASE_URL</key>
	<string>https://emptyline-66a31.firebaseio.com</string>
</dict>
</plist>